@model Workers


<tr hx-target="this" hx-swap="outerHTML">
    <td class="text-start">
        @Model.IdPerson
    </td>
    <td class="text-start">
        <select class="form-select" asp-for="IdWorkerType" asp-items="ViewBag.WorkerTy">
        </select>
    </td>
    <td class="text-start">
        <input asp-for="Salary" class="form-control" />
    </td>
    
    <td>
        <input type="hidden" asp-for="IdPerson" />
        <button hx-include="closest tr"
                hx-post="@Url.Action(nameof(WorkerController.Edit))"
                class="btn btn-sm btn-primary" title="Save">
            <i class="fas fa-save"></i>
        </button>
    </td>
    <td>
        <button class="btn btn-sm cancel"
                hx-get="@Url.Action(nameof(WorkerController.Get), new { id = Model.IdPerson })"
                title="Cancel">
            <i class="fas fa-undo-alt"></i>
        </button>
    </td>
    <td>
        <div asp-validation-summary="All"></div>
    </td>
</tr>