@model Crop


<tr hx-target="this" hx-swap="outerHTML">
    <td class="text-start">
        @Model.IdCrop
    </td>
    <td class="text-start">
        <select class="form-select" asp-for="IdSpecies" asp-items="ViewBag.SpeciesName">
        </select>
    </td>
    <td class="text-start">
        <select class="form-select" asp-for="IdTask" asp-items="ViewBag.TaskName">
        </select>
    </td>
    <td class="text-start">
        <select class="form-select" asp-for="IdStatus" asp-items="ViewBag.StatusName">
        </select>
    </td>
    <td class="text-start">
        <select class="form-select" asp-for="IdPerson" asp-items="ViewBag.PersonName">
        </select>
    </td>
    <td class="text-start">
        <input asp-for="PlantingDate" class="form-control" />
    </td>
    <td class="text-start">
        <input asp-for="Quantity" class="form-control" />
    </td>
    <td>
        <input type="hidden" asp-for="IdCrop" />
        <button hx-include="closest tr"
                hx-post="@Url.Action(nameof(CropController.Edit))"
                class="btn btn-sm btn-primary" title="Save">
            <i class="fas fa-save"></i>
        </button>
    </td>
    <td>
        <button class="btn btn-sm cancel"
                hx-get="@Url.Action(nameof(CropController.Get), new { id = Model.IdCrop })"
                title="Cancel">
            <i class="fas fa-undo-alt"></i>
        </button>
    </td>
    <td>
        <div asp-validation-summary="All"></div>
    </td>
</tr>