<table id="template" style="visibility:hidden">
    <tr>
        <td class="text-left col" style="flex: 0 0 auto; width: auto;">
            <input type="hidden" name="ItemsH.Index" value="--number--" />
            <input type="hidden" name="ItemsH[--number--].IdOrder" value="--number--" readonly />
            <input type="hidden" name="ItemsH[--number--].NamePerson" value="--name--" />
            --name--
        </td>
        <td class="text-center col" style="flex: 0 0 auto; width: auto;">
            <input name="ItemsH[--number--].Quantity" class="form-control" value="--quantity--" />
        </td>
        <td class="text-center col" style="flex: 0 0 auto; width: auto;">
            <input name="ItemsH[--number--].Price" class="form-control" value="--price--" />
        </td>
        <td class="text-right col" style="flex: 0 0 auto; width: auto;">
            <input type="hidden" name="ItemsH[--number--].DateOfOrder" value="--date--" />
            --date--
        </td>
        <td>
            <button class="btn btn-sm btn-danger" style="flex: 1; width: 100%;" title="Remove">Remove</button>
        </td>
    </tr>
</table>

