<img src="~/media/home_banner.jpg" />

<div class="frame">
    <a href="/rppp/14/Harvest" class="Button_Home">Manage Harvest</a>

    <a href="/rppp/14/Worker" class="Button_Home">Manage Workers</a>

    <a href="/rppp/14/Crop" class="Button_Home">Manage Crops</a>
</div>